#menu-posts-victory_post_type{
    //display:none;
}
#minor-publishing{
   // display:none;
}
.type-delete a{
    color:red;
    font-size: 16px;
}
span.support::before {
    content: attr(data-title); /*помещаем подсказку в псевдоэлемент*/
    display: none; /*скрываем подсказку*/
}
span.support:focus::before {
    display: block;
    position: relative;
    float: right;
}
.add-box td{
    padding-bottom: 20px;
    font-size: 15px;
}
var {
    padding: 0 .3em;
    background-color: rgba(0,0,0,.06);
    border: 1px solid rgba(0,0,0,.08);
    border-top: 0;
    border-bottom: 0;
    border-radius: 2px;
}
var span{
    width:40px;
    display: inline-block;
}

.post-type-victory_post_type #edit-slug-box, .post-type-victory_post_type #minor-publishing,
.post-type-victory_meta_type #edit-slug-box, .post-type-victory_meta_type #minor-publishing{
    display: none;
}
/* Стили для метаблоков */
.victory-meta-block{
    padding: 10px;
}
.victory-meta-block-v1{
    padding: 10px;
    border: 2px solid #00a0d2;
}
.victory-meta-block-add-el{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.victory-add-block-area{
    border: 2px dashed #2f2f2f;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.field_item{
    border: 2px solid #008ec2;
    display: flex;
    flex-direction: row;
    padding: 5px;
    align-items: stretch;
    margin-bottom: 10px;
    background-color: white;
}
.field_item:last-child{
    margin-bottom: 0;
}
.field_item input[type="text"]{
    min-width: 200px;
}
.sortable-js{
    height: 80px;
    border: 3px dashed #008ec2;
    margin-bottom: 10px;
}
button.field_item_delete_btn{
    height: 30px ;
    border-bottom-left-radius: 50% !important;
    width: 30px;
    font-size: 17px !important;
    font-weight: bold;
    color: white !important;
    background-color: rgba(255, 0, 0, 0.34) !important;
}
button.field_item_delete_btn:hover{
    font-size: 19px !important;
    background-color: rgba(255, 0, 0, 0.6) !important;
}

/* Вывод стилей для созданого блока */
.victory-main-post-block{

}
.victory-main-post-element-block{
    margin-bottom: 10px;
    border: 2px solid #008ec2;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.victory-main-post-element-block h2{
    font-size: 17px !important;
    font-weight: bold !important;
}
.victory-main-post-element-block input[type='text']{
    width: 100%;
}
.victory-main-post-element-block img{
    min-width: 100px;
    height: 100px;
}
.victory-main-post-element-block #victory_img_loader{
    width: 100px;
}
.victory-main-post-element-block:last-child{
    margin-bottom: 0px;
}